.container-eg-btn-2 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto 10px;
    padding: .5em;
    line-height: normal;
}
.container-eg-btn-2 .button {
    color: #1ea664;
    background: #e7ffcb;
    margin: 10px;
    padding: 12px 15px;
    border: 2px solid #1ea664;
    text-align: center;
    text-transform: uppercase;
    position: relative; 
    overflow:hidden; 
    transition: .3s;
    z-index: 1;
}
.container-eg-btn-2 .button:hover {
    cursor: pointer;
    color: #1ea664;
}
.container-eg-btn-2 .button-1:hover{
    box-shadow: inset 0 0 0 2em #1ea664;
}

#AboutTitle {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}