<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/script.js"></script>
        <title>Seratoth</title>
    </head>
    <body>
        <div class="nameBackground">
            <h1 id="title">
                Welcome to Seratoth!
            </h1>
        </div>
        <div>
            <button type="button" onclick="changeName()">I change the name</button>
        </div>
        <div>
            <button type="button" onclick="goToAboutPage()">Click here to go to the about page!</button>
        </div>
    </body>
</html>